<!--nav class="main-nav">
	<ul style="list-style-type: none;" id="main-menu">
		{{ if not .IsHome }}
		<li style="float: right;">
			<a href='{{ .Site.BaseURL }}'>
		</li>
		<span class="arrow">←</span>{{ .Site.Params.home | default "Home" }}</a>
		{{ end }} 
		{{ if .Site.Params.enableRSS }}
		<li style="float: right;">
			<a class="cta" href="{{ .Site.RSSLink }}">{{ .Site.Params.subscribe | default "Subscribe" }}</a>
		</li>
		{{ end }} 
		{{ range .Site.Menus.main }}
		<li style="float: right;">
			<a href='{{ .URL }}'>{{ .Name }}</a>
		</li>
		{{ end }}
	</ul>
</nav-->
<header class="header" style="margin-bottom:60%;">
		<a href="/" class="logo"><i class="fa fa-diamond 2x" style="margin-bottom:5%;"></i></a>
		<input class="menu-btn" type="checkbox" id="menu-btn" />
		<label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
		<ul class="menu">
				{{ range .Site.Menus.main }}
				<li>
					<a href='{{ .URL }}'>{{ .Name }}</a>
				</li>
				{{ end }}

		</ul>
</header>